
<h1>this is a blog</h1>

<%=@blog.title %>
<%=@blog.content %>


<h1> comments </h1>

<% if @current_comment != nil %>
	<% @blog.comments.each do |b| %>
			<% if b.user_id == @current_user.id %>
				<div><%= b.message %></div>
				<div> Edit </div>
				<%= link_to 'delete', comment_path, method: :delete %>
			<% else %>
				<div><%= b.message %></div>
			<% end %>
		<% end %>
	


<h1> Post a comment </h1>

<%= form_with(model: @comment, local: true) do |f| %>
<%= f.text_area :message %>
<%= f.hidden_field :blog_id, :value => @blogid %>
<%= f.submit %>
<% end %>
<% end %>
