

<h1>this is a blog</h1>

<div class = 'background'>


<div class = 'jumbotron'>
<!-- page where you can read a blog entry. when you click on the author's name you are directed to their page -->
<h1><%=@blog.title %></h1>
<h2>By: <%=link_to @user.name, user_path(@user.id)%></h2>
<h2>Date: <%=@blog.created_at%></h2>
<h3><%=@blog.content %></h3>
</div>

<!-- lists comments corresponding to the above blog entry. if current user has posted a comment, they may edit or delete it. When user clicks 'edit', a Javascript function causes the edit form to appear. this creates a cleaner interface than if the edit form was constantly visible. -->
<div class = 'box'>
<h4> Comments: </h4>
<% if @current_comment != nil %>
	<% @blog.comments.each do |b| %>
	<div><%= b.message %></div>
	<% @Username = User.find_by_id(b.user_id) %>
	<div>Comment Author: <%= link_to @Username.name, user_path(@Username.id) %></div>
			<% if b.user_id == @current_user.id %>
				<%= form_for(b, :url=> "/comments/#{b.id}/") do |f| %>
				<%= f.text_area :message, :id => 'comment-text'  %>
				<%= f.hidden_field :id, :value => b.id%>
				<%= f.submit %>
				<% end %>
				<div class='editor'><a href = '#' >Edit</a></div> 
				<%= link_to 'Delete', comment_path(b.id), method: :delete %>
			<% end %>
		<% end %>
	
<!-- user can post a comment here -->
<h4> Post a comment: </h4>

<%= form_with(model: @comment, local: true) do |f| %>
<%= f.text_area :message %>
<%= f.hidden_field :blog_id, :value => @blogid %>
<br>
<%= f.submit %>
<% end %>
<% end %>

</div>
</div>
</div>
