<!-- landing page for the site -->
<div class = 'photo'>


<div class = "container">
	<div class = 'header'>
     <h1 class = 'display-1'> Welcome to CatChat </h1>
    <h2 class = 'display-2'>Where Felines Fans Connect.</h2>
	</div>
	</div>
	
<% if flash[:alert] %>
      <div id="alert">
         <%= flash[:alert] %> 
      </div>
<% end %>

<div class = 'jumbotron'>
	<div class = 'login'>
		<%= form_tag(login_path) do  %>
		Username: <%= text_field_tag :username%>
		Password: <%= text_field_tag :password %>
		<%= submit_tag 'Login' %>
		<div class = 'account'>
 		 <p class="lead">
  		  <a class="btn btn-primary btn-lg" href="/users/new/" role="button">Make an Account</a>
  		</p>
		<% end %>
	</div>
</div>





</div>