<!-- form for creating a new user account -->

<nav class="navbar navbar-inverse">      
   <ul class="nav navbar-nav navbar-left">
       <li class="active">
             <%= link_to "Home", root_path %>
              </li>
          </ul>
      </nav>
        

            
<div class = 'background'>
<div class = 'jumbotron'>
<h2>Create a New Account:</h2>

<% if flash[:alert] %>
      <div id="alert">
         <%= flash[:alert] %> 
      </div>
<% end %>

<%= form_for @user do |f| %>

Username:<%= f.text_field :username %>
Password:<%= f.text_field :password %>
<br>
Name:<%= f.text_field :name %>
Cat Name:<%= f.text_field :catname %>
Location:<%= f.text_field :location%>
<br>
<%= f.submit %>
<% end %>
</div>
</div>