<h1> welcome to your profile </h1>

<%= link_to 'delete', user_path, method: :delete %>

<%= link_to 'log out', logout_path, method: :destroy %>


<h2>Edit Your Info</h2>


<%= form_for @user do |f| %>

Username:<%= f.text_field :username %><br>
Password:<%= f.text_field :password %><br>
Name:<%= f.text_field :name %><br>
Cat Name:<%= f.text_field :catname %><br>
Location:<%= f.text_field :location%><br>
<%= f.submit %>
<% end %>