<!DOCTYPE html>
<html>
  <head>
    <title>Railsblog2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!-- navbar only presents when user is logged in -->
    <% if @current_user != nil %>
        <nav class="navbar navbar-inverse bg-primary">
            <div class ='nav navbar-nav navbar-right'>
              <div>
              <h4> <%=link_to "Feed", blogs_path %> </h4>
            </div>
            <div>
              <h4> <%= link_to "Dashboard", edit_user_path(@current_user)%></h4>
              </div>
                  <div class ='nav navbar-nav navbar-left'>
             <h4> <%= link_to'Sign Out', logout_path, method: :destroy %></h4>
              </div>
          </div>
        </div>
    </nav>
    <% end %>
  <body>


    <%= yield %>
  </body>
</html>
